/*Reset*/
*{
margin: 0;
padding: 0;
font-family: 'Cabin', sans-serif;
}
 
/*Etiquetas de control*/
html{
  font-family:'Cabin', sans-serif ;
}

.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
body{
    background-color: #F2DABD;
}

/* Menu navegación */
.cabecera{
    background-color: #93A603 ;
    border-bottom: solid 10px #f2cd5c;
}
.logo-nav{
    max-height: 80px;
}

/* Banner principal */
.banner-principal{
    min-height: 1000px;
    background-image: url(../assets/images/Cabaña\ central.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-bottom: solid 10px #f2cd5c;
}
.logo-banner-principal{
    max-height: 400px;
    background-color: #f2dabd90;
    border: solid #f2cd5c 2px;
    border-radius: 50%;
    box-shadow: 10 10 10;
}
/* Carrusel del imagenes */

.carrusel{
    background-color: #F2DABD;
    padding: 10px;
}
.carrusel-imagenes{
   max-width: 60%;
   padding: 10px;
   border:solid 3px #A68C5D;
}

/* Banner Frase */
.fondo-frase{
    background-color: #A68C5D;
}
.banner-frase{
    min-height: 450px;
}
.frase{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);


}
/* Sección de servicios */
.seccion-servicio{
    background-color: #F2DABD;
    padding: 20px;
}


.cabaña-imagen {
    background-color: #F2DABD;
    padding: 10px;
    width: 500px;
    overflow: hidden;
    border-radius: 24px;
    box-shadow: 2px 2px 10px #cb9d65;
  }
.servicio{
    background-color: #F2DABD;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    border-radius: 24px;
    box-shadow: 2px 2px 10px #cb9d65;
}
.servicio, p{
    font-size: 25px;
    padding: 15px;
}
.servicio, h2{
    font-size: 45px;
}
.boton-servicio,
.boton-servicios:hover{
    min-width: 200px;
    background-color: #D9042B ;
    border: #D9042B;
}

/* Footer */
.botones-redes{
    justify-content: space-around;
  }
  .botones-redes a{
    text-decoration: none;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: #D9042B;
    border-radius: 50%;
    font-size: 14px;
  }
  footer{
    background-color: #93A603;
  }
  .ancla-footer{
        font-family: 'Dosis', sans-serif;
        font-weight: 400;      
  }

  .copyright{
    color: white;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
  }
  
  


@media (max-width: 767.98px){

  } 

@media (min-width: 576px) and (max-whidth: 992px){
    .banner-frase{
        max-height: 150px;
        align-content: center;
    }
    .frase{
        font-size: 15px;
    }
    .botones-redes{
        display: flex;
        justify-content: center;
      }
      .botones-redes a{
        margin: 10px;
      }
      .ancla-footer{
        display: flex;
        justify-content: center;
      }
}

@media (max-width: 575.98px){
    .logo-nav{
        max-height: 50px;
    }
    .banner-principal{
        min-height: 400px;
    }
    .carrusel-imagenes{
        display: flex;
        max-width:100%;
    }
    .banner-frase{
        min-height: 150px;
        align-content: center;
    }
    .frase{
        font-size: 15px;
    }
    .seccion-servicio{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .cabaña-imagen{
        max-height: 250px;
        max-width: 250px; 
    }
    .botones-redes{
        display: flex;
        justify-content: center;
        margin-top: 30px;
      }
}
/* Nosotros */
.contenedor-nosotros{
    flex-direction: column;
}
/* .titulo-nosotros{

} */

/* Contacto */
.titulo-contacto{
    padding: 50px 0 30px 0;
}

.card{
    padding: 15px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
    background-color:#f2cc5c22;
}
.card h2{
    font-size: 25px;
    margin: 30px 0 20px 0;
}
.form-contacto{
    padding: 20px 0 20px 0;
}
.img-contacto {
    max-width: 100%;
    border-radius: 30px;
    box-shadow: 5px 5px 5px black;
  }

  .contenedor-mapa-api{
    background-color: #cb9d65;
    border-bottom: #dcae5a solid 10px;
    border-top: #dcae5a solid 10px;
  }


  /* ----------------------- */
  :root {
    --bg-color: #9f1313;
    --text-color: #fbfcfc;
    font-size: 18px;
  }

  .search-form {
    margin: 20px 20px;
  }
  
  .searchbox {
    padding: 10px 20px;
    background-color: var(--text-color);
    max-width: 500px;
    margin: 0px auto;
    border-radius: 25px;
  }
  
  .search {
    width: 100%;
    background-color: var(--text-color);
    border: none;
    font-size: 1rem;
  }
  
  .search:focus {
    outline: none;
  }
  
  .weather-card {
    margin: 20px 20px;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 20px;
    text-align: center;
    border-radius: 3px;
    display: none;
    max-width: 100%;
  }
  
  .city {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
  
  .date {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
  
  
  .temperature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .temp-img {
    width: 50px;
    margin-right: 10px;
  }
  
  .temp {
    font-size: 2.2rem;
    font-weight: bold;
  }
  
  .weather {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .weather-card {
    margin: 20px 20px;
    background: #f2dabd;
    color: #000000;
    padding: 20px;
    text-align: center;
    border-radius: 18px;
    display: none;
    max-width: 100%;
}
.element.style {
  min-height: 1px;
}

.cabañah5 {
  text-align: center;
}

.tarjeta-contacto{
  padding: 30px;
  background-color:#cb9d65;
  border-top: #93A603 solid 10px;
  color: white;
}